<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.theathletic.news.initialDataLoad</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>The Athletic</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-anaheim-ducks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-anaheim-ducks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-arizona-cardinals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-arizona-cardinals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-arizona-coyotes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-arizona-coyotes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-arizona-diamondbacks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-arizona-diamondbacks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-atlanta-braves</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-atlanta-braves</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-atlanta-dream</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-atlanta-dream</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-atlanta-falcons</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-atlanta-falcons</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-atlanta-hawks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-atlanta-hawks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-atlanta-united-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-atlanta-united-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-austin-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-austin-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-baltimore-orioles</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-baltimore-orioles</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-baltimore-ravens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-baltimore-ravens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-boston-bruins</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-boston-bruins</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-boston-celtics</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-boston-celtics</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-boston-red-sox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-boston-red-sox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-bright-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-bright-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-brooklyn-nets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-brooklyn-nets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-buffalo-bills</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-buffalo-bills</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-buffalo-sabres</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-buffalo-sabres</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-calgary-flames</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-calgary-flames</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-carolina-hurricanes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-carolina-hurricanes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-carolina-panthers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-carolina-panthers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-charlotte-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-charlotte-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-charlotte-hornets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-charlotte-hornets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-bears</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-bears</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-blackhawks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-blackhawks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-bulls</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-bulls</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-cubs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-cubs</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-fire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-fire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-sky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-sky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-chicago-white-sox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-chicago-white-sox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cincinnati-bengals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cincinnati-bengals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cincinnati-reds</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cincinnati-reds</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cleveland-browns</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cleveland-browns</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cleveland-cavaliers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cleveland-cavaliers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cleveland-indians</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cleveland-indians</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-club-de-foot-montréal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-club-de-foot-montréal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-club-de-foot-montréal-(français)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-club-de-foot-montréal-(français)</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-colorado-avalanche</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-colorado-avalanche</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-colorado-rapids</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-colorado-rapids</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-colorado-rockies</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-colorado-rockies</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-columbus-blue-jackets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-columbus-blue-jackets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-columbus-crew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-columbus-crew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-connecticut-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-connecticut-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dallas-cowboys</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dallas-cowboys</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dallas-mavericks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dallas-mavericks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dallas-stars</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dallas-stars</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dallas-wings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dallas-wings</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-flat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-flat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dc-united</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dc-united</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-denver-broncos</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-denver-broncos</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-denver-nuggets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-denver-nuggets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-detroit-lions</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-detroit-lions</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-detroit-pistons</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-detroit-pistons</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-detroit-red-wings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-detroit-red-wings</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-detroit-tigers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-detroit-tigers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-edmonton-oilers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-edmonton-oilers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-fc-cincinnati</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-fc-cincinnati</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-fc-dallas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-fc-dallas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-florida-panthers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-florida-panthers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-golden-state-warriors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-golden-state-warriors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-green-bay-packers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green-bay-packers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-houston-astros</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-houston-astros</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-houston-dynamo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-houston-dynamo</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-houston-rockets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-houston-rockets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-houston-texans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-houston-texans</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-indiana-fever</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-indiana-fever</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-indiana-pacers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-indiana-pacers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-indianapolis-colts</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-indianapolis-colts</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-inter-miami-cf</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-inter-miami-cf</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-jacksonville-jaguars</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-jacksonville-jaguars</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-kansas-city-chiefs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-kansas-city-chiefs</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-kansas-city-royals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-kansas-city-royals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-las-vegas-aces</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-las-vegas-aces</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-las-vegas-raiders</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-las-vegas-raiders</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-flat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-flat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-angels</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-angels</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-chargers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-chargers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-clippers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-clippers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-dodgers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-dodgers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-galaxy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-kings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-kings</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-lakers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-lakers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-rams</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-rams</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-los-angeles-sparks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-los-angeles-sparks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-maroon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-maroon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-memphis-grizzlies</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-memphis-grizzlies</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-miami-dolphins</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-miami-dolphins</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-miami-heat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-miami-heat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-miami-marlins</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-miami-marlins</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-milwaukee-brewers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-milwaukee-brewers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-milwaukee-bucks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-milwaukee-bucks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-lynx</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-lynx</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-timberwolves</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-timberwolves</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-twins</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-twins</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-united-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-united-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-vikings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-vikings</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-minnesota-wild</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-minnesota-wild</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-montreal-canadiens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-montreal-canadiens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-montréal-canadiens-(français)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-montréal-canadiens-(français)</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-nashville-predators</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-nashville-predators</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-nashville-soccer-club</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-nashville-soccer-club</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-navy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-navy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-england-patriots</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-england-patriots</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-england-revolution</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-england-revolution</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-jersey-devils</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-jersey-devils</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-orleans-pelicans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-orleans-pelicans</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-orleans-saints</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-orleans-saints</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-city-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-city-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-giants</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-giants</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-islanders</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-islanders</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-jets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-jets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-knicks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-knicks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-liberty</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-liberty</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-mets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-mets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-rangers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-rangers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-red-bulls</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-red-bulls</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-new-york-yankees</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-new-york-yankees</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-oakland-athletics</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-oakland-athletics</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-oklahoma-city-thunder</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-oklahoma-city-thunder</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-orlando-city-sc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-orlando-city-sc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-orlando-magic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-orlando-magic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-ottawa-senators</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-ottawa-senators</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-philadelphia-76ers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-philadelphia-76ers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-philadelphia-eagles</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-philadelphia-eagles</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-philadelphia-flyers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-philadelphia-flyers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-philadelphia-phillies</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-philadelphia-phillies</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-philadelphia-union</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-philadelphia-union</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-phoenix-mercury</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-phoenix-mercury</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-phoenix-suns</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-phoenix-suns</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-pittsburgh-penguins</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pittsburgh-penguins</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-pittsburgh-pirates</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pittsburgh-pirates</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-pittsburgh-steelers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pittsburgh-steelers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-portland-timbers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-portland-timbers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-portland-trail-blazers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-portland-trail-blazers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-real-salt-lake</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-real-salt-lake</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-royal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-royal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-sacramento-kings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-sacramento-kings</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-antonio-spurs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-antonio-spurs</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-diego-padres</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-diego-padres</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-francisco-49ers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-francisco-49ers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-francisco-giants</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-francisco-giants</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-jose-earthquakes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-jose-earthquakes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-san-jose-sharks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-san-jose-sharks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-seattle-kraken</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-seattle-kraken</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-seattle-mariners</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-seattle-mariners</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-seattle-seahawks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-seattle-seahawks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-seattle-sounders-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-seattle-sounders-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-seattle-storm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-seattle-storm</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-sporting-kc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-sporting-kc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-st.-louis-blues</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-st.-louis-blues</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-st.-louis-cardinals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-st.-louis-cardinals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-tampa-bay-buccaneers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-tampa-bay-buccaneers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-tampa-bay-lightning</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-tampa-bay-lightning</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-tampa-bay-rays</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-tampa-bay-rays</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-tennessee-titans</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-tennessee-titans</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-texas-rangers</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-texas-rangers</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-toronto-blue-jays</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-toronto-blue-jays</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-toronto-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-toronto-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-toronto-maple-leafs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-toronto-maple-leafs</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-toronto-raptors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-toronto-raptors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-turquoise</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-turquoise</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-utah-jazz</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-utah-jazz</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-vancouver-canucks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-vancouver-canucks</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-vancouver-whitecaps-fc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-vancouver-whitecaps-fc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-vegas-golden-knights</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-vegas-golden-knights</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-washington-capitals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-washington-capitals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-washington-football-team</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-washington-football-team</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-washington-mystics</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-washington-mystics</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-washington-nationals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-washington-nationals</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-washington-wizards</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-washington-wizards</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-winnipeg-jets</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-winnipeg-jets</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-2</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.42.0</string>
	<key>CFBundleSignature</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb755512374574534</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>theathletic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9542126426993714~7862802630</string>
	<key>GADIntegrationManager</key>
	<string>webview</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>athleticimage</string>
		<string>twitter</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.localhost</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>cloudfront.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>md-akc.med.nhl.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>nr-data.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>pbs.twimg.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>s3-us-west-2.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The Athletic requires access to your Media Library to utilize media related features such as downloading Podcasts.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The Athletic requires access to your Bluetooth to play media from The Athletic app via Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The Athletic requires access to your calendar for features involving sports related events.</string>
	<key>NSCameraUsageDescription</key>
	<string>The Athletic requires access to your Camera for community related features.</string>
	<key>NSContactsUsageDescription</key>
	<string>The Athletic requires access to your Contacts for community related features.</string>
	<key>NSLocationUsageDescription</key>
	<string>The Athletic requires access to your location to help you find news and articles related to the teams near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The Athletic requires access to your location to help you find news and articles related to the teams near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable your microphone so you can join conversations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The Athletic requires access to your Photo Library for community related features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Athletic requires access to your Photo Library for community related features.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ACaslonPro-Bold.otf</string>
		<string>ACaslonPro-Regular.otf</string>
		<string>ACaslonPro-Italic.otf</string>
		<string>ACaslonPro-BoldItalic.otf</string>
		<string>AthleticRegularSlab-Inline.otf</string>
		<string>AthleticRegularSlab-Bold.otf</string>
		<string>ChronicleDisp-Italic.otf</string>
		<string>TiemposHeadline-Bold.otf</string>
		<string>TiemposHeadline-Medium.otf</string>
		<string>TiemposHeadline-Regular.otf</string>
		<string>TiemposText-Regular.otf</string>
		<string>TiemposText-Medium.otf</string>
		<string>TiemposText-Bold.otf</string>
		<string>TiemposText-RegularItalic.otf</string>
		<string>Calibre-Medium.otf</string>
		<string>Calibre-Regular.otf</string>
		<string>Calibre-Semibold.otf</string>
		<string>Sohne-Buch.otf</string>
		<string>Calibre-MediumItalic.otf</string>
		<string>Calibre-RegularItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>btn_score_active</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleScores</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).scores</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icn_saved_article</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleSaved</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).saved_stories</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
