<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.theathletic.news.initialDataLoad</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>The Athletic</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.theathletic.news-dev</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.42.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb755512374574534</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>theathletic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9542126426993714~7862802630</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>athleticimage</string>
		<string>twitter</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.localhost</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>cloudfront.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>md-akc.med.nhl.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>nr-data.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>pbs.twimg.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>s3-us-west-2.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The Athletic requires access to your Media Library to utilize media related features such as downloading Podcasts.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The Athletic requires access to your Bluetooth to play media from The Athletic app via Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The Athletic requires access to your calendar for features involving sports related events.</string>
	<key>NSCameraUsageDescription</key>
	<string>The Athletic requires access to your Camera for community related features.</string>
	<key>NSContactsUsageDescription</key>
	<string>The Athletic requires access to your Contacts for community related features.</string>
	<key>NSLocationUsageDescription</key>
	<string>The Athletic requires access to your location to help you find news and articles related to the teams near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The Athletic requires access to your location to help you find news and articles related to the teams near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable your microphone so you can join conversations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The Athletic requires access to your Photo Library for community related features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Athletic requires access to your Photo Library for community related features.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ACaslonPro-Bold.otf</string>
		<string>ACaslonPro-Regular.otf</string>
		<string>ACaslonPro-Italic.otf</string>
		<string>ACaslonPro-BoldItalic.otf</string>
		<string>AthleticRegularSlab-Inline.otf</string>
		<string>AthleticRegularSlab-Bold.otf</string>
		<string>ChronicleDisp-Italic.otf</string>
		<string>TiemposHeadline-Bold.otf</string>
		<string>TiemposHeadline-Medium.otf</string>
		<string>TiemposHeadline-Regular.otf</string>
		<string>TiemposText-Regular.otf</string>
		<string>TiemposText-Medium.otf</string>
		<string>TiemposText-Bold.otf</string>
		<string>TiemposText-RegularItalic.otf</string>
		<string>Calibre-Medium.otf</string>
		<string>Calibre-Semibold.otf</string>
		<string>Calibre-Regular.otf</string>
		<string>Sohne-Buch.otf</string>
		<string>Calibre-MediumItalic.otf</string>
		<string>Calibre-RegularItalic.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>btn_score_active</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleScores</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).scores</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icn_saved_article</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleSaved</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).saved_stories</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
